@import "@/assets/scss/bundle.scss";

.navbar {
	display: flex;
	align-items: center;
	gap: 1em;
}

.navbar__link {
	padding: 0.75em 1em;
	background: white;
	border: 1px solid #eaeaea;
	border-radius: 0.25em;

	cursor: pointer;
	transition: 250ms ease background-color, 100ms ease opacity;

	&:hover {
		background: #e1e1e1;
	}

	&:active {
		opacity: 0.7;
	}
}
