@use "@/assets/scss/bundle" as *;

.market {
	display: flex;
	gap: 2em;
}

.market__filters {
	position: sticky;
	top: 0;

	height: 100%;
	min-width: 20em;
}

.market__products {
	display: grid;
	gap: 0.75em;
	grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));

	flex: 1;
}

.market__cart {
	position: sticky;
	top: 0;

	height: 100%;
	min-width: 15em;
}
