@use "@/assets/scss/bundle" as *;

.slider-panel {
  position: relative;

  resize: horizontal;
  overflow: hidden;

  display: grid;

  width: 50%;
  min-width: 20em;
  max-width: 100%;

  background: white;
  border: 1px solid rgba(black, 0.25);
  border-radius: 1em;
}

.slider-panel__container {
  display: flex;

  &>p {
    display: contents;
  }

  img {
    width: 100%;
    padding: 0.5em;
    border-radius: 1.25rem;

    transition: 500ms ease-in-out transform;
    transform: translateX(calc(-100% * var(--pointer)));
  }
}

.slider-panel__controls {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  display: flex;
  gap: 0.5rem;

  font-size: 75%;

  transition: 250ms ease opacity;

  &:not(:hover) {
    opacity: 0.35;
  }
}
