$color-white: #FFFFFF;
$color-dark: #171717;

$color-gray: #D9E0E8;
$color-gray-dark: #404043;
$color-gray-light: #8a8989;

$color-blue: #0054da;
$color-blue-pale: #96BAFF;
$color-blue-dark: #4B5567;
$color-blue-light: hsl(210, 40%, 95%);
$color-yellow: #fceb51;
$color-yellow-light: hsl(54, 100%, 92%);
$color-yellow-pale: #FFF385;

$color-green: #69FF27;
$color-green-pale: #BFFF5A;
$color-green-light: hsl(101, 100%, 92%);
$color-green-new: #43AA8B;

$color-red: #D62D30;
$color-red-pale: hsl(0, 60%, 50%);
$color-red-light: hsl(0, 100%, 92%);

$color-orange: #ffa800;

$color-pink-pale: #FFA6EB;

$color-violet-pale: #E0C9FF;
$color-violet-light: hsl(248, 100%, 92%);


$color-press-dark: #0e152bee;
$color-press-gray: #b6bcc6;
