@use "@/assets/scss/bundle" as *;

.product-card {
	position: relative;

	display: grid;
	gap: 0.75em;

	padding: 0.5em;
	background: white;
	border: 2px solid $color-blue-light;
	border-radius: 0.5em;

	transition: 250ms ease box-shadow;

	&:hover {
		box-shadow: 0 4px 8px 0px rgba(darken($color-blue, 30), 0.25);
	}
}

.product-card__image {
	width: 100%;

	aspect-ratio: 1;

	border-radius: inherit;
	object-fit: cover;
}

.product-card__like {
	--icon-size: 1.5rem;

	position: absolute;
	top: 1em;
	right: 1em;

	padding: 0.5em;
	background: rgba(black, 0.325);
	border-radius: 0.75em;

	color: transparent;
	transition: 150ms ease background-color, 250ms ease color;

	&:hover {
		background: rgba($color-red, 0.325);
	}

	&--active {
		color: $color-red;
		background: rgba(black, 0.1);
	}
}

.product-card__title {
	font-weight: bold;
}

.product-card__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-card__price {
	font-size: 1.125rem;
}

.product-card__reviews {
	--icon-color: #{$color-orange};

	display: flex;
	align-items: center;
	gap: 0.25em;

	strong {
		font-size: 0.875rem;
		vertical-align: baseline;
	}

	span {
		font-size: 0.875rem;
	}
}
