@use "@/assets/scss/bundle" as *;

.mini-profile {
	position: relative;

	display: flex;
	align-items: center;
}

.mini-profile__profile {
	position: relative;

	display: flex;
	align-items: center;

	gap: 1em;

	padding: 0.5em 0.875em;
	border: 1px solid $color-blue-light;
	border-radius: 0.5em;

	cursor: pointer;
	transition: 200ms ease background-color;

	&:hover {
		background: rgba(white, 0.2);
	}

	&:active {
		opacity: 0.8;
	}
}

.mini-profile__settings {
	--icon-size: 2em;

	margin-right: 0.75em;

	color: white;
}

.mini-profile__avatar,
.mini-profile__letter {
	height: 3rem;
	aspect-ratio: 1;
	border-radius: 50%;
	object-fit: cover;
}

.mini-profile__letter {
	overflow: hidden;

	color: white;
	text-shadow: 0 0 1px black;

	font-size: 1.5rem;
	font-weight: 600;
}

.mini-profile__info {
	display: grid;
	gap: 0.5em;

	color: $color-dark;
}

.mini-profile__name {
	font-size: 1.125rem;
}

.mini-profile__email {
	font-size: 0.875rem;
}

.mini-profile__exit {
	--icon-color: #{$color-gray-light};

	margin-left: 2.5em;
}
