@use "@/assets/scss/bundle" as *;

.button {
	padding: 0.675em 1.125em;
	background: $color-blue;
	border-radius: 0.25em;

	color: white;
	transition: 250ms ease background-color, 250ms ease opacity;

	&--green {
		background: $color-green-new;
	}
}

a.button {
	display: inline-flex;
	text-decoration: none;
}
