@use "@/assets/scss/bundle" as *;

.product-filters {
	display: grid;
	gap: 1em;

	padding: 1em;
	border: 1px solid rgba(black, 0.1);
	border-radius: 0.5em;
}

.product-filters__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-filters__title {
	font-size: 1.25rem;
	font-weight: bold;
}
