@use "@/assets/scss/bundle" as *;

$page-indent: 1em;
$scrollbar-width: 0.675rem;
$option-padding-inline: 0.675rem;

.drop-down {
	--translate: 0.25em;
	--transition-width: 300ms ease;

	position: absolute;
	top: 100%;
	left: 0;

	display: grid;

	width: calc(var(--max-option-width) * 1px + $scrollbar-width);
	max-width: calc(var(--max-visible-width) * 1px - $page-indent);
	min-width: 100%;
	max-height: 80vh;
	overflow: auto;
	overscroll-behavior: contain;

	@include Scrollbar(0.675em);

	padding: 0.25em 0;
	background: $color-white;
	border-radius: 0.25em;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35);

	color: $color-dark;

	transform: translateY(var(--translate));
	transition: 200ms ease opacity, 200ms ease transform, 200ms ease display, var(--transition-width) width;
	transition-behavior: allow-discrete;
	z-index: 1;

	contain: paint;

	@starting-style {
		--translate: 0em;

		opacity: 0;
	}

	&:not(&--expanded) {
		--translate: 0.5em;

		opacity: 0;
		display: none;
	}

	&--upwards {
		--translate: -0.25em;

		top: unset;
		bottom: 100%;
	}

	&--dark {
		background: $color-dark;
		border-color: rgba(white, 0.25);

		color: white;
	}
}

.drop-down__option {
	--icon-color: currentColor;
	--icon-size: 1rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0.5rem $option-padding-inline;
	background: white;

	font-size: $font-size-h3;

	overflow: hidden;
	text-overflow: ellipsis;

	transition: 100ms ease font-weight, 200ms ease background-color, 200ms ease color;
	cursor: pointer;

	&:hover {
		background: $color-green-light;
		color: $color-green-new;
	}

	&--selected {
		background: $color-green-light;
		color: $color-green-new;

		font-weight: 500;
	}

	.drop-down--dark & {
		&:hover {
			background: rgba($color-gray, 0.1);
		}
	}
}

.drop-down__empty {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;

	padding: 0.5rem 0;

	font-size: 0.875rem;
	text-align: center;
}
